@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "~bootstrap/scss/bootstrap";


html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Raleway', 'Arial';
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  font-weight: bolder;
  color: #FDC20F;
}

.navbar {
  background-color: #fff;
  border-color: transparent;
}

.hide {
  display: none;
}

#navbar ul {
  padding-top: 20px;
}

#nav-elem {
  color: black;
  padding-bottom: 5px;
  padding-top: 5px;
}

#nav-elem:hover {
  font-weight: bolder;
}

#logo-nav {
  width: 249px;
  padding: 0;
  height: 60px;
}

@media screen and (max-width: 414px) {
  #logo-nav {
    width: 159px;
  }
}

#logo-nav-img {
  width: 249px;
}

@media screen and (max-width: 414px) {
  #logo-nav-img {
    width: 159px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

#active {
  font-weight: bolder;
}

.div-footer {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0;
}

footer.footer {
  background-color: #FDC20F;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin: 0;
}

.reach-us {
  width: 100%;
  text-align: center;
}

.icon {
  width: 100%;
  height: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon ul {
  text-align: center;
  padding: 0;
}

.icon li {
  display: inline-block;
  text-align: center;
}

.icon a {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  background: white;
  color: #000;
}

.icon a:hover {
  background: white;
  color: yellow;
}

.split-content {
  width: 100%;
  height: 100px;
}

.split-content h5, .split-content h6 {
  color: black;
}

.split-content .split {
  display: inline-block;
}

@media screen and (max-width: 414px) {
  .split-content .split {
    text-align: center;
  }
}

.split-content .split p {
  margin: 10px 0 10px;
  color: black;
}

@media screen and (max-width: 414px) {
  .split-content .contact {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .split-content .willhide {
    display: none;
  }
}

.vl {
  border-left: 5px solid black;
  height: 200px;
  padding: 0;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .vl {
    height: 0;
    border-left: 0;
  }
}

.copyright {
  padding-top: 10px;
  font-color: #000;
}

.copyright p {
  text-align: center;
  font-size: 10px;
}

hr {
  border: solid 0.8px #fcecbc;
  margin-top: 0;
  margin-bottom: 0;
}

#hr-w-bottom {
  margin-bottom: 70px;
}

.content {
  margin-top: 60px;
  height: auto;
}

.content .top-head .header {
  //background-image: url("../img/transparent/fitur-trans.png");
  height: 700px;
  width: 100%;
  //background-size: cover;
  //background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content .top-head .jumbotron {
  background: transparent;
  height: 700px;
  padding-right: 700px;
  padding-left: 100px;
  padding-top: 120px;
  margin-bottom: 0;
}

@media screen and (max-width: 1125px) {
  .content .top-head .jumbotron {
    padding-right: 500px;
    padding-left: 100px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 900px) {
  .content .top-head .jumbotron {
    padding-right: 300px;
    padding-left: 80px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 468px) {
  .content .top-head .jumbotron {
    padding-right: 100px;
    padding-left: 20px;
    padding-top: 100px;
  }
}

.content .top-head .btn {
  border-color: white;
  color: white;
  margin-top: 10px;
  padding: 15px;
  background-color: transparent;
  border-width: 4px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 35px;
}

.content .top-head .btn:hover {
  background-color: white;
  color: #FDC20F;
}

.content .about-WP {
  margin-bottom: 50px;
  /* padding-top: 68px;
  padding-bottom: 63px; */
}

.content .about-WP .split-about {
  margin: auto;
}

.content .about-WP .split-about #head-aboutWP {
  color: #FDC20F;
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
}

.content .about-WP .split-about .about {
  padding: 30px;
  text-align: center;
}

.content .about-WP .split-about .about img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.content .about-WP .split-about .about h4 {
  text-align: center;
}

.content .models {
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-image: url("../img/transparent/fitur-trans.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.content .models .split-model {
  margin-top: 30px;
  margin-bottom: 10px;
}

.content .models .split-model .model {
  padding: 30px;
  text-align: center;
}

.content .models .split-model .model img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid white;
  border-radius: 50%;
}

.content .models .split-model .model h4 {
  color: white;
  text-align: center;
}

.content .models .div-btn-model {
  text-align: center;
}

.content .models .div-btn-model .join-model {
  margin-top: 30px;
  margin-bottom: 30px;
  background: transparent;
  color: white;
  border: 5px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 35px;
}

.content .models .div-btn-model .join-model:hover {
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  color: #FDC20F;
  border: 5px solid white;
}

.content .benefit {
  margin-top: 70px;
  margin-bottom: 25px;
}

.content .benefit #benefit-1 {
  display: inline-block;
  padding: 0;
  text-align: center;
}

.content .benefit #benefit-1 #head-benefit {
  color: #FDC20F;
  text-align: right;
  margin: 20px;
}

@media screen and (max-width: 1024px) {
  .content .benefit #benefit-1 #head-benefit {
    margin: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .content .benefit #benefit-1 #head-benefit {
    margin: 0;
    margin-top: 20px;
    text-align: right;
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .content .benefit #benefit-1 #head-benefit {
    text-align: center;
  }
}

.content .benefit #benefit-1 .item {
  text-align: center;
  margin-bottom: 50px;
}

.content .benefit #benefit-1 .item img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.content .benefit #benefit-1 .item h4 {
  text-align: center;
  font-weight: lighter;
}

.content .ourfeature {
  padding-top: 72px;
  padding-bottom: 63px;
  background-color: #fdd23e;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

#syarat-ketentuan{
   margin-left: 60px;
  margin-top: -5px;
  margin-bottom: 15px;
}




@media screen and (max-width: 768px) {
  .content .ourfeature {
    padding: 0;
  }
}

.content .ourfeature .row-feature {
  width: 100%;
}

.content .ourfeature .feature {
  margin: auto;
}

.content .ourfeature .feature #head-feature {
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
}

.content .ourfeature .feature #image-feature {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  padding-top: 0;
}

.content .form {
  padding-top: 68px;
  padding-bottom: 68px;
  /*Active/ Completed States*/
}

.content .form .head-form {
  color: #FDC20F;
  text-align: center;
  margin-bottom: 30px;
}

.content .form .registeration {
  border-top: 5px solid #FDC20F;
  -webkit-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.47);
  margin-bottom: 30px;
}

.content .form .registerInner {
  margin: 15px;
}

.content .form .form-group {
  width: 100%;
  line-height: 30px;
}

.content .form .signbuttons {
  margin-bottom: 35px;
  background: #FDC20F;
  border: none;
  color: white;
  transition: 0.5s;
  border-radius: 35px;
}

.content .form .signbuttons:hover {
  background-color: white;
  color: #FDC20F;
}

.content .form .learn-form {
  background-color: #FDC20F;
  border: 0px;
  color: white;
  transition: 0.5s;
  border-radius: 35px;
}

.content .form .learn-form:hover {
  background-color: white;
  color: #FDC20F;
  border-bottom: 1px dotted #FDC20F;
}

.content .form input, .content .form textarea {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px dotted #FDC20F !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}

.content .form .headerSign {
  color: #FDC20F;
  margin-bottom: 20px;
  text-align: center;
}

.content .form .darktext {
  color: #FDC20F;
}

.content .form .list-group.vertical-steps {
  padding-left: 10px;
}

.content .form .list-group.vertical-steps .list-group-item {
  border: none;
  border-left: 3px solid #ece5dd;
  box-sizing: border-box;
  border-radius: 0;
  counter-increment: step-counter;
  padding-left: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.content .form .list-group.vertical-steps .list-group-item.active {
  background-color: transparent;
  color: inherit;
}

.content .form .list-group.vertical-steps .list-group-item.active h3 {
  color: #FDC20F;
}

.content .form .list-group.vertical-steps .list-group-item:last-child {
  border-left: 3px solid transparent;
  padding-bottom: 0;
}

.content .form .list-group.vertical-steps .list-group-item:before {
  border-radius: 50%;
  background-color: #ece5dd;
  color: #555;
  content: counter(step-counter);
  display: inline-block;
  float: left;
  height: 25px;
  line-height: 25px;
  margin-left: -35px;
  text-align: center;
  width: 25px;
}

.content .form .list-group.vertical-steps .list-group-item span,
.content .form .list-group.vertical-steps .list-group-item a {
  display: block;
  overflow: hidden;
  padding-top: 2px;
  padding: 10px;
}

.content .form .list-group.vertical-steps .list-group-item.active:before {
  background-color: #FDC20F;
  color: black;
}

.content .form .list-group.vertical-steps .list-group-item.completed {
  border-left: 3px solid #FDC20F;
}

.content .form .list-group.vertical-steps .list-group-item.completed:before {
  background-color: #FDC20F;
  color: black;
}

.content .form .list-group.vertical-steps .list-group-item.completed:last-child {
  border-left: 3px solid transparent;
}

.content .modal-confirm {
  color: #434e65;
  width: 525px;
}

@media screen and (max-width: 414px) {
  .content .modal-confirm {
    width: 90%;
    margin-left: 10px;
  }
}

.content .modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.content .modal-confirm .modal-header {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/website-warungpintar/Modal/bg-modal.jpg");
  height: 150px;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.content .modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

.content .modal-confirm .form-control, .content .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.content .modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

.content .modal-confirm .close:hover {
  opacity: 0.8;
}

.content .modal-confirm.modal-dialog {
  margin-top: 80px;
}

.content .modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}

.content .modal-confirm .btn:hover, .content .modal-confirm .btn:focus {
  background: #eda645;
  outline: none;
}

.content .modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}

.content .modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}

.content .row-map {
  margin-top: 68px;
  margin-bottom: 30px;
}

.content .row-map .map {
  text-align: center;
}

.content .row-map .map #head-map {
  color: #FDC20F;
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
}

.content .row-map .map #map {
  height: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 65px;
}

.story {
  margin-top: 50px;
//   background-image: url("../img/transparent/fitur-trans.png");
//   background-repeat: no-repeat;
//   background-position: center center;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

#testimonial4 {
  overflow: hidden;
  min-height: 375px;
  position: relative;
}

#testimonial4 .carousel-inner {
  width: 75%;
  margin: auto;
}

#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: white;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #FDC20F;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators:-webkit-scrollbar {
  height: 3px;
}

.testimonial4_indicators .carousel-indicators:-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #FDC20F;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}

.testimonial4_control_button .carousel-control.left {
  left: 7%;
  right: auto;
}

.testimonial4_control_button .carousel-control.right {
  right: 7%;
  left: auto;
}

.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #FDC20F;
  background: transparent;
  border: 2px solid #FDC20F;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  /* margin: 30px auto; */
  margin: auto;
  text-align: center;
  position: relative;
}

.testimonial4_header h4 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 70px;
  height: 70px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.testimonial4_slide p {
  color: white;
  font-size: 16px;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px; 
}

@media only screen and (max-width: 480px) {
  .testimonial4_control_button .carousel-control {
    display: none;
  }
  .testimonial4_header {
    width: 95%;
  }
  .testimonial4_header h4 {
    font-size: 20px;
  }
  .testimonial4_slide {
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .testimonial4_control_button .carousel-control.left {
    left: 2%;
  }
  .testimonial4_control_button .carousel-control.right {
    right: 2%;
  }
  .testimonial4_header {
    width: 95%;
  }
  .testimonial4_slide {
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial4_control_button .carousel-control.left {
    left: 5%;
  }
  .testimonial4_control_button .carousel-control.right {
    right: 5%;
  }
}

@-webkit-keyframes psBoxShadowEffect_2 {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px black, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px black, 0 0 0 5px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes psBoxShadowEffect_2 {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px black, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px black, 0 0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}


.response{
  padding: 0;
  margin: 0;
  text-align: center;
  width:100% !important;
}

#more-info{
  padding: 68px;
  background: #F8F8F8;
}