@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "~bootstrap/scss/bootstrap";


html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Raleway', 'Arial';
}

/* begin lotte-nav */
#lotteNav{
  background-color:#fff;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

#lotteNav .nav-left{
  list-style-type: none;
  padding-top: 0;
  padding-left: 0;
  display: flex;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
}


#lotteNav .nav-left .nav-left-item{
  
  font-size: 1rem;
  align-items: center;
  width: auto;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .75rem;
  height: 48px;
}


#lotteNav .nav-left .bg-blue{
  text-decoration: none;
  background-color: #2384c6;
  width: 50px;
}

#lotteNav .nav-left .logo{
  text-decoration: none;
  padding-left: .75rem;
  padding-top: .3rem;
}

#lotteNav .nav-right{
  list-style-type: none;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
  height: 48px;
}

#lotteNav .nav-right .bg-grey{
  text-decoration: none;
  background-color: #e3e3e3;
  width: 50px;
}

#lotteNav .nav-right .nav-right-item{
  align-items: center; 
  padding-left: .75rem;
  padding-bottom: .4rem;
  padding-top: .5rem;
  font-size: 20px;

}

#lotteNav .nav-left .hamburger{
  cursor: pointer;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color:#fff;
  margin-top: 6px;
  padding-left: auto;
  padding-top: auto;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-9px, 9px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-2px, -2px);
  transform: rotate(45deg) translate(-2px, -2px);
}

/* .lottenav{
  align-items: stretch;
  background-color: #fff;
  display: flex;
  min-height: 3.5rem;
  position: relative;
  text-align: center;
  z-index: 2;
}
.lottenav .nav-content{
  align-items: stretch;
  display: flex;
  min-height: 3.5rem;
  width: 100%;
}
.lottenav .nav-left{
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.lottenav .nav-left, 
.nav-right{
  align-items: stretch;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
}
.lottenav .nav-right {
  justify-content: flex-end;
}
.lottenav .nav-item {
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  justify-content: center;
  padding-top: .75rem;
  padding-left: .2rem;
  padding-right: .5rem;
  max-width: 75px;
}
.lottenav .nav-item.bg-red {
  background-color: #2384c6;
  justify-content: center;
}
.lottenav .nav-item.bg-grey {
  background-color: #e3e3e3;
}
.lottenav .logo {
 margin-left: -50px;
}
.lottenav .nav-item a{
  color: #7a7a7a;
}
.lottenav .img {
 max-height: 1.75rem;
 //background: url(".../assets/img/lotte-grosir.png") no-repeat;
}
.lottenav .nav-item i{
  width: 30px;
}
.lottenav .hamburger{
  position: relative;
  width: 25px;
  height: 50px;
  cursor: pointer;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-9px, 9px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-2px, -2px);
  transform: rotate(45deg) translate(-2px, -2px);
}
*/
#tmukNavbar{
  display: block;
  background-color: #2384c6;
  margin-top: -17px;
  padding: 0;
} 