@import url("https://fonts.googleapis.com/css?family=ABeeZee");
@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";


hhtml,
body,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'ABeeZee', 'Arial';
}
body{
  position: relative;
}
#app{
  font-family: 'ABeeZee', Helvetica, Arial, sans-serif;
  margin-top: 0px;
  height: auto;
  width: auto;
  background: #E4E6E5;
}
/* begin lotte-nav */
.lottenav{
    background: #ffffff;
    display: flex;
    max-height: 50px;
    z-index: 2;
    position: sticky;
    top:0;
    .nav-content{
      display: flex;
      width: 100%;
      border: 1px transparent #fff;
      .nav-left{
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
        flex-basis: 0;
        flex-grow: 1;
      }
      .nav-item {
        align-items: center;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 20px;
        justify-content: center;
        padding-top: .75rem;
        padding-left: 1rem;
        
      }
      .logo{
        padding-left: 10px;
        padding-bottom: 15px;
      }
      .bg-red{
        background-color: #2D87C5;
        max-width: 60px;
      }
      .hamburger{
        padding-top: 5px;
        position: relative;
        width: 52px;
        height: 50px;
        cursor: pointer;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
    }
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 9px);
        transform: rotate(-45deg) translate(-9px, 9px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-2px, -2px);
        transform: rotate(45deg) translate(-2px, -2px);
      }
      .nav-right{
        display: flex;
        justify-content: flex-end;
        .nav-item{
          align-items: center; 
          font-size: 24px;
          background-color: #e3e3e3; 
          max-width: 60px;
          padding-right: .75rem;
          padding-bottom: .4rem;
          padding-top: .5rem;
        }
      }
    }
    @media only screen and (max-width:600px) {
        max-height: 30px;
        .nav-left{
            .nav-item{
                font-size: 15px;

            }
            .logo{
                padding-left: 5px;
                padding-bottom: 20px;
                img{
                  max-width: 100px;
                }
            }
            .bg-red{
                max-width: 32px;
            }
            .hamburger{
                padding-top: 3px;
                width: 32px;
                height: 30px;
            }
            .bar1, .bar2, .bar3 {
                width: 15px;
                height: 2px;
                margin: 1px 15px 2px 0px;
            }
            .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-3px, 3px);
                transform: rotate(-45deg) translate(-3px, 3px);
            }
            
            .change .bar2 {opacity: 0;}
            
            .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-1px, -1px);
                transform: rotate(45deg) translate(-1px, -1px);
            }
            .nav-right{
                .nav-item{
                  font-size: 20px;
                  max-width: 32px;
                  padding-right: .75rem;
                  padding-bottom: .4rem;
                  padding-top: .5rem;
                }
              }
        }
    }
  }
  /* end lotte-nav */
/* begin navbar */

.navbar{
    background: #1158A8;
    position: sticky;
    top: 6;
    .navbar-nav{
        margin-right: 50 px;
        .nav-item{
            a {
              color:#FEF200;
              font-size: 16px;
              margin-right: 5px;
              margin-left: 5px;
              &:hover{
                font-weight: bold;
                text-decoration-line: underline;
              }
              &:active{
                text-decoration-line: underline;
                font-weight: bold;
              }
            }
          }
        }
    @media only screen and (max-width:600px){
        max-height: 60px;
        margin-bottom: 0px;
        top: 4;
        .navbar-brand{
          display: inline;
          img{
            max-height: 50px;
            max-width: 100px;
          }
        }
        #navbarSupportedContent{
          background-color: #1158A8;
          width: 100%;
        }
        .navbar-nav{
            .nav-item{
                a{
                    font-size: 12px;
                }
            }
        }
    }
}
/*end navbar */
/*begin jumbotron*/
.welcome{
      width: 100%;
      top: 0;
      left: 0;
    .jumbotron{
      background: linear-gradient(to bottom right,#1061B0,#2D87C5);
      border-radius: 0px;
      padding-bottom: 0px;
      padding-top: 20px;
      .naration{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left:0px; 
      }
      .img-left{
        display: block;
        margin-bottom: 0px;
        margin-left: 0px;
      }
      img{
          width: 100%;
          height: 100%;
      }
      .display-3{
        font-size: 36px;
        font-weight: 500;
        color: #FEF200;
      }
      h2{
        font-size: 34px;
        color: #fff;
      }
      p,li{
        color: #fff;
        font-size: 14px;
        text-align: justify;
      }
      .btn{
        border-radius: 1px !important;
        border-color:green;
        border-width: 3px;
        background-color:#FEF200;
        color: rgb(3, 0, 0);
        font-size: 18px;
        font-weight: bold;
        &:hover{
          background-color: #fff;
          color: rgb(3, 0, 0);
        }
      }
    }
    @media only screen and (max-width:600px){
        .jumbotron{
            .display-3{
                font-size: 22px;
                text-align: center;
            }
            .img-left{
                display: block;
              }
              img{
                  width: 100%;
                  margin-left: 0px;
                  margin-right: 0px;
              }
            h2{
                font-size: 20px;
                color: #fff;
              }
              p,li{
                color: #fff;
                font-size: 12px;
               
              }
              ol{
                margin-left: 0px;
              }
              .naration{
                display: block;
                margin-left:20px; 
                margin-right: 20px;
              }
              .btn{
                  margin-left: 20px;
                  width: 100%;
                  display: block;
              }
        }
    }
  }
  /*end jumbotron*/
  /*begin benefit*/
  .benefit{
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    background: #E4E6E5;
 
  .head_benefit{
    text-align: center;
    color: #2D87C5;
    margin-bottom: 50px;
    padding: 0
  }
  .img-benefit{
    padding: 20px;
    text-align: center;
    transition: all .2s;
    -webkit-transition: all .2s;
    &:hover{
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
    }
  }
  img{
    width: 110px;
    height: 110px;
    margin-left:auto;
    margin-right: auto;
    padding: 0;
    
    
  }

  h4{
    font-size: 15px;
  }

  #m_carousel{
    display: none;
    .img-slide{
      padding: 20px;
      text-align: center;
    }
    .carousel-indicators{
      left: 0;
      margin: 0;
      width: 100%;
      font-size: 0;
      height: 20px;
      bottom: 0px;
      padding: 0 5px;
      cursor: e-resize;
      overflow-x: auto;
      overflow-y: hidden;
      position: absolute;
      text-align: center;
      white-space: nowrap;
      li {
        padding: 0;
        width: 20px;
        height: 2px;
        border: none;
        margin: 2px 3px;
        cursor: pointer;
        display: block;
        background: #2D87C5;
      }
      .active {
        padding: 0;
        width: 20px;
        height: 2px;
        border: none;
        margin: 2px 3px;
        background-color: #fff;
      }
    }
    .carousel-inner{
      max-height: 100vh;
      margin-top: 20px;
      .item{
        
        h4{
          position: absolute;
        }
      }
    }
  }

  @media only screen and (max-width:800px){
    margin-bottom: 50px;
    #d_benefit{
      .img-benefit{
        display: none;
      }
    }
     #m_carousel{
       display: inline-block;
     }
      .head_benefit{
          margin: 0 10px 0 10px;
          font-size: 22px;
      }
      img{
        width: 85px;
        height: 85px;
      }
      h4{
          font-size: 12px;
      }
      
  }
  }
  /*end benefit*/
  /*begin interactive feature*/
  .feature{
    padding-top: 72px;
    padding-bottom: 63px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    .row-feature{
        width: 100%;
    }
    #head-feature {
      text-align: center;
      color: #2D87C5;
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 0;
    }
    .interactive-image{
      width: 900px;
      height: 598px;
      background: url(../images/feature.png) no-repeat;
      margin: 60px auto 10px;
      position: relative;
      z-index: 8;
      caret-color: transparent;
      cursor: default;
      .hotspot {
        position: absolute;
        z-index: 16;
        width: 30px;
        height: 30px;
        color: rgb(0, 1, 2);
        display: none;
        cursor: pointer;
        font-size: 28px; 
        border-radius: 50%;
        background-color: transparent;
        border:3px solid  #fff ;
        &:hover{
          text-shadow: 0 0 0px #fff;
          background-color:#2D87C5;
        }
      }
      .arrow-up {
        position: absolute;
        top: -7px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid white; 
      }
      .picture {
        max-width: 200px;
        max-height: 200px; 
      }
      .item {
        position: absolute;
        z-index: 32;
        background-color: white;
        color: black;
        min-width: 100px;
        max-width: 280px;
        min-height: 60px;
        height: auto;
        display: none;
        text-align: center;
        border-radius: 2px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); 
      }
      .text-item {
        padding: 15px; 
        .title {
          font-size: 20px;
          width: 100%;
          text-align: left;
          font-variant: small-caps;
          font-weight: bold;
          display: inline-block; 
        }
        .description {
          text-align: left;
          font-size: 14px;
          font-weight: normal;
          margin-top: 10px;
          margin-bottom: 0; 
        }
        .picture {
          margin-top: 15px;
          margin-bottom: -2px; 
        }
        a {
          text-decoration: underline;
          color: black;
          display: block;
          margin-top: 10px; 
          &:visited{
            color: black;
          }
          &:hover{
            color: black;
          }
          &:active{
            color: black;
          }
        }
      }
      .picture-item {
        position: relative;
        max-width: 200px;
        max-height: 200px;
        margin: 15px; 
        .picture {
          margin-bottom: -4px; 
        }
      }
    }
    @media only screen and (max-width:600px){
      #head-feature{
          font-size: 22px;
      }
      .interactive-image {
        width: 500px;
        height: 400px;
        
        padding-top: 0;
        background: url(../images/m-feature.png) no-repeat;
        .hotspot {
          position: absolute;
          z-index: 16;
          width: 15px;
          height: 15px;
        }
    }
  }
  }
  /* .feature{
    padding-top: 72px;
    padding-bottom: 63px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    .row-feature{
        width: 100%;
    }
    #head-feature {
        text-align: center;
        color: #2D87C5;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 0;
    }
    #image-feature {
        display: block;
        width: 800px;
        height: 600px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        
        padding-top: 0;
        background: url(../images/feature.png) no-repeat;
    }
    @media only screen and (max-width:600px){
        #head-feature{
            font-size: 22px;
        }
        #image-feature {
          display: block;
          width: 400px;
          height: 300px;
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
          
          padding-top: 0;
          background: url(../images/m-feature.png) no-repeat;
      }
    }
  } */
 /*end interactive feature*/
.testimonial{
  background-image: url("../images/testimonial-bg.png");
  background-size:     cover;  
  background-repeat: no-repeat;
  background-position: center center ;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

#testimonial {
  overflow: hidden;
  min-height: 375px;
  position: relative;
}
#testimonial .carousel-inner {
  width: 75%;
  margin: auto;
}

#testimonial .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#testimonial .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#testimonial .carousel-inner .item {
  overflow: hidden;
}

.testimonial_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.testimonial_indicators .carousel-indicators li {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: white;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial_indicators .carousel-indicators .active {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #2D87C5;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial_indicators .carousel-indicators:-webkit-scrollbar {
  height: 3px;
}

.testimonial_indicators .carousel-indicators:-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial_control_button .carousel-control {
  top: 175px;
  //opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  //border: 2px solid #1158A8;
  text-transform: uppercase;
 // -webkit-border-radius: 100%;
 // border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}

.testimonial_control_button .carousel-control.left {
  left: 7%;
  right: auto;
}

.testimonial_control_button .carousel-control.right {
  right: 7%;
  left: auto;
}

.testimonial_control_button .carousel-control.left:hover,
.testimonial_control_button .carousel-control.right:hover {
  color: #1158A8;
  background: transparent;
 // border: 2px solid #1158A8;
}

.testimonial_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  /* margin: 30px auto; */
  margin: auto;
  text-align: center;
  position: relative;
}

.testimonial_header h1 {
  color: #1158A8;
  position: relative;
  letter-spacing: 1px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.testimonial_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.testimonial_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
}

.testimonial_slide p {
  color: red;
  font-size: 18px;
  margin: 40px 0 20px 0;
}

.testimonial_slide h4 {
  color: #1158A8;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px; 
}

@media only screen and (max-width: 397px) {
  .testimonial_control_button .carousel-control {
    display: none;
  }
  .testimonial_header {
    width: 95%;
  }
  .testimonial_header h4 {
    font-size: 20px;
  }
  .testimonial_slide {
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .testimonial_control_button .carousel-control.left {
    left: 2%;
  }
  .testimonial_control_button .carousel-control.right {
    right: 2%;
  }
  .testimonial_header {
    width: 95%;
  }
  .testimonial_slide {
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial_control_button .carousel-control.left {
    left: 5%;
  }
  .testimonial_control_button .carousel-control.right {
    right: 5%;
  }
}

.contact-form{
  margin-top: 0;
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #E4E6E5; 
  .head-form{
    text-align: center;
    color: #2D87C5;
  }
  .sub-head-form {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
  }
  .registeration{
    border-top: 5px solid #2D87C5;
    -webkit-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.47);
    margin-bottom: 0px;
    background-color: #fff;
    font-weight: bold;
  }
  .registerInner{
    margin: 15px;
  }
   .headerSign{
    color: #2384c6;
    margin-bottom: 0px;
    text-align: center;
  }
  
  #embed_signup{
    form{
      display: block;
      position: relative;
      text-align: left;
      padding: 10px 0 10px 3%;
    } 
    .indicates-required{
      text-align: right;
        font-size: 11px;
        margin-right: 4%;
        margin-top: -5%;   
    }
    .asterix{
      color: #e85c41;
      font-size: 150%;
      font-weight: normal;
      position: relative;
      top: 5px;
    }
    input[type="text"],input[type="email"],input[type="tel"]{
      border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px dotted #2D87C5!important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
  
  }
  .input[type="submit"]{
    border-bottom: none!important;
  }
  .select2 {
    width: 100% !important;
}
  .button{
    border-radius: 3px;
    background: #FEF200 !important;
    color: #000;
    clear: both;
    font-size: 15px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
  }
  
   
   
  
  }
  
}

.app-footer{
  background: #2D87C5;
  margin-bottom: 30px;
  .contact{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
    .fab{
      font-size:48px;
      color: #fff;
    }
  }
  @media only screen and (max-width:600){
    h1{
      font-size: 14px;
    }
    .fab, fa-*{
      font-size:32px;
    }
  }
}